<% name = current_user.present? ? current_user.email : 'Stranger' %>

<h1>Welcome, <%= name %> </h1>
<p>This NotesApp is simple and very easy to use. This App will help you in private and work and so on.</p>
