<p id="notice"><%= notice %></p>

<h3 class='d-flex justify-content-between mb-4'>
  <%= @page.title %>
  <div class = ''>
<%= link_to 'Back', @notebook, class: 'btn btn-secondary' %>
<%= link_to 'Edit', edit_notebook_page_path(@notebook, @page), class: 'btn btn-outline-primary'  %>
  </div>
</h3>



